// _animations.scss

// Define animation-related mixins
@mixin rotate($degrees) {
    @include prefix(transition, transform 0.3s ease);
    transform: rotate($degrees);
  }
  
  @mixin fadeIn {
    @include prefix(animation, fadein 1s);
  }
  
  @mixin fadeOut {
    @include prefix(animation, fadeout 1s);
  }
  
  // Define keyframe animations
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  