@mixin fadein($duration: 1s) {
    opacity: 0;
    animation: fadeIn $duration ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  